body {
    font-family: 'Helvetica','Ariel', 'Open Sans', sans-serif;
    display: flex;
    margin-top: 1rem;
    align-items: center;
    justify-content: center;
    background-color:#faf8f8;
}
#container{
    border: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1vh;
    background-color: #d3d0d0;
    padding: 1rem;
    margin: 1rem;
    border-radius: 1rem;
    min-height: 100%;

}
h1, p, p5 {
    margin: auto;
}
code {
    padding: 0.5rem;
    margin-top: 0.5rem;
    font-weight: bold;
    font-size: 1rem;
    border-radius: 0.6rem;
    background-color: #23272A;
    color: rgb(231, 230, 230);
}
code:hover, .input:hover {
    background-color: #6c757c;
    cursor: pointer;
}
#header {
    margin:3rem;
    display: flex;
    justify-content: center;
    gap: 0.5vw;
    flex-wrap: wrap;
}
h5 {
    font-weight: bold;
    margin-top: 0.5vh;
    margin-bottom: 0.5vh;
}
button, input, select{
    margin-top: 0.5rem;
    text-align: center;
    font-size: 0.8rem;
    background-color: #23272A;
    font-weight: bold;
    color: rgb(231, 230, 230);
    padding: 0.5rem;
    height: 150%;
    width: 25%;

    border-color: rgb(231, 230, 230);
}

h4 {
    font-size-adjust: none;
    position: absolute;
    bottom: 0;
    margin-left: auto;
    font-size: 1vh;
}
.time-format{
    display: inline-flex;
    gap: 1rem;
}

a {
    text-decoration: none;
}
a:visited, a:active {
color: rgb(15, 4, 19);
}

#date-select, #time-select {
    font-size: 2vw;
    word-break: break-all;
}
#date-select {
    font-size: 1.6vw;
}

#date-select, #time-select, #timezone-select {
    border-radius: 0.4rem;
    height: 10vh;
    width: fit-content;
    padding: 0;
    margin: 0;
    border: 0;
}
#timezone-select {
    align-self: center;
    max-width: 60vw;
    padding-left: 2vw;
    padding-right: 2vw;
    font-size: 1vw;
}
#body, h5 {
    font-size: 1.2vw;
    align-self: center;
}
#time-select, #date-select {
    min-width: 9vw;
    padding-left: 1vw;
    padding-right: 1vw;
}


#body  {
    width: 100%;
    flex-wrap: wrap;
}

.time-code {
    font-size: 1vw;
    padding-top: 1vh;
    width: 10vw;
    min-height: 2.5vw;
    height: fit-content;
    text-align: center;
    word-wrap: break-word;
}

@media screen and (max-width: 750px) {
    #time-select {
        font-size: 4vw;
    }

    #date-select {
        font-size: 3.4vw;
    }

    #timezone-select {
        font-size: 2.6vw;
    }

    .time-code {
        font-size: 2vw;
    }
    h5 {
        font-size: 2vw;
    }
}

h5 {
    padding-top: 5vh;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

input[type="time"]::-webkit-calendar-picker-indicator {
    filter: invert(2);
}
