body {
    font-family: 'Helvetica','Ariel', 'Open Sans', sans-serif;
    display: flex;
    margin-top: 1rem;
    align-items: center;
    justify-content: center;
    background-color:#23272A;
}
#container{
    border: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1vh;
    background-color: #99AAB5;
    padding: 1rem;
    margin: 1rem;
    border-radius: 1rem;

}
h1, p, p5 {
    margin: auto;
}
code {
    padding: 0.5rem;
    margin-top: 0.5rem;
    font-weight: bold;
    font-size: 1rem;
    border-radius: 0.6rem;
    background-color: #23272A;
    color: rgb(231, 230, 230);
}
code:hover {
    background-color: #6c757c;
    cursor: pointer;
}
#header {
    display: flex;
    justify-content: center;
    gap: 0.5vw;
}
h5 {
    font-weight: bold;
    margin-top: 0.5vh;
    margin-bottom: 0.5vh;
}
button, input, select{
    margin-top: 0.5rem;
    text-align: center;
    font-size: 0.8rem;
    background-color: #23272A;
    font-weight: bold;
    color: rgb(231, 230, 230);
    padding: 0.5rem;
    height: 150%;
    width: 25%;
    border-radius: 3rem;

    border-color: rgb(231, 230, 230);
}

h4 {
    position: absolute;
    bottom: 0.1rem;
}
.time-format{
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

a {
    text-decoration: none;
}
a:visited, a:active {
color: rgb(15, 4, 19);
}